body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
body > header {
    background-color: #39c;
    color: white;
    padding: .2em 0 .2em 1%;
    font-size: 115%;
    font-weight: bold;
}
body > header a.edit {
    float: right;
    margin-right: .5em;
    padding: .1em .2em;
    font-size: 80%;
    border: 2px solid #fff;
    border-radius: 15%;
    text-decoration: none;
}
ul {
    list-style: none;
}
ul, li {
    padding: 0;
    margin: 0;
}
.section header{
    width: 99%;
    background-color: #555;
    background: linear-gradient(180deg, #555, #999);
    color: #fff;
    padding: .2em 0 .2em 1%;
}
.section li header{
    background-color: #ccc;
    background: linear-gradient(180deg, #bbb, #ddd);
    color: #000;
}
.series li {
    background-color: #eee;
    padding: .2em 0 .2em 1.4em;
    border-bottom: 1px solid #ccc;
}
.series .done {
    color: green;
}
.series .undone {
    color: darkred;
}
.series .done::before {
    content: "\2713 ";
}
.series .undone::before {
    content: "\25a1\00a0";
}

/* Overrides */

.w3-progress-container {
    float: right;
    width: 50%;
}
.w3-text-white {
    padding-left: .5em;
}

/* Edit Screen */
#edit .w3-progress-container {
    display: none; 
}
#edit .add {
    font-style: italic;
}
/* Responsive */
@media screen and (max-width: 500px) {

    .section li header::before {
	content: "\25b6  ";
	color: grey;
    }
    .series li {
	display: none
    }
}